In [ ]:
import pandas as pd
import numpy

## Import data

In [7]:
train_url = 'https://bit.ly/titanic-train-set'
test_url = 'https://bit.ly/titanic-test-set'

In [10]:
df_train = pd.read_csv(train_url)
df_test = pd.read_csv(test_url)

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## Exploratory data analysis (easy steps)
- Missing data
- Categorical data
- Text/date data
- drop columns

### Missing data

In [57]:
df_train.isna().sum().loc[df_train.isna().sum() > 0]

Age         177
Cabin       687
Embarked      2
dtype: int64

In [58]:
df_test.isna().sum().loc[df_test.isna().sum() > 0]

Age       86
Fare       1
Cabin    327
dtype: int64

- the train set has missing values in Age, Cabin and Embarqued
- the test set has missing data in Age fare and Cabin

### Categorical data

In [59]:
cat_cols = [col for col in df_train.columns if df_train[col].dtype=="O"]
for col in cat_cols:
    print('Unique value in column ',col, ' : ',len(df_train[col].unique()))

Unique value in column  Name  :  891
Unique value in column  Sex  :  2
Unique value in column  Ticket  :  681
Unique value in column  Cabin  :  148
Unique value in column  Embarked  :  4

Sex and Embarqued are categorical data <br>
Name, ticket and cabin are probably text data

We can summarize all this by splitting all the columns in different categories

In [38]:
target = ['Survived']

drop_cols = ['Ticket']
passthrough_cols = ['Pclass', 'SibSp', 'Parch']

num_cols_with_missing_data = ['Age', 'Fare']
cat_cols_with_missing_data = ['Embarqued']
cat_cols_without_missing_data = ['Sex']

text_cols_with_missing_data = ['Cabin']
text_cols_without_missing_data = ['Name']

## Exploratory data analysis (advanced steps)
- Outliers (removing outliers)
- Scaling and transform
    - Standard scaler
    - Robust scaler
    - Log-transform
- Feature selection / Dimensionality reduction